h1{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffaa71;
    }

body{
    background-color:#f6f4e6;
font-size:1rem;
font-family: helvetica, arial, sans-serif;
color: #41444b;
}