/* Exercise 1*/
h1 {
 font-family: helvetica, arial, sans-serif;
}
body{
    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
}
/* Write your selector for .left below */
.left {
    float: right;
    padding-left: 15px;
}
/* Write your selector for .right below */
.right {
    float: left;
    padding-right: 15px;
}
/* Write your selector for .separator below */
.separator {
    width: 750px;
}

/* Exercise 2 */

.block_element {
    width: 355px;
    background-color: lightblue;
    padding: 35px;
  margin: 0 auto;
  text-align: center;
  }
  
  /* These styles are just used to create our mock get started form */
  section {
    background-color: grey;
    padding: 25px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  img {
    width: 200px;
  }
  input {
    display: block;
    width: 100%;
    padding: 4%;
    -webkit-appearance: none;
    /* max-width: 330px; */
    box-sizing: border-box;
  }
  h3 {
    margin: 10px 0px;
  }
  .submit {
    margin-top: 20px;
  }

  /*Exercise 3 */
  nav {
    height: 50px;
    background-color: lightgrey;
  }
  
  /* target the class of inline-block below */
  .inline-block {
    display: inline-block;
    padding: 15px;
}
 
  .left2 {
      height: 500px;
      float: left;
      background-color: lightblue;
      width: 30%;
      text-align: center;

  }

  .right2 {
    height: 500px;
    float: left;
    background-color: lightgreen;
    width: 70%;
    text-align: center;
  }

  .card {
      display: inline-block;
      background-color: #C6C6C6;
      border-radius: 5px;
      height: 200px;
      width: 150px;
      margin: 35px;
      margin-top: 50px;

  }

  /* exercise 4 */
  body {
    height: 5000px;
  }
  .left3 {
    width: 50%;
    background-color: purple;
  }
  .right3 {
    width: 50%;
    background-color: green;
  }
  .relative {
    background-color: lightblue;
    height: 250px;
    padding: 30px;
    margin: 10px;
    display: flex;
    position: relative;
  }
  .absolute {
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
    position: absolute;
   bottom: 0;
   right: 0;
  
  }
  .fixed {
    height: 200px;
    width: 200px;
    background-color: green;
    position: fixed;
    bottom: 0;
    right: 0;
  
  }

 

 